html {
     box-sizing: border-box;
}
body {
    background: #F0F0F0;
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #000;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    padding-bottom: 130px;
}
[data-dpr="2"] 
body{
    font-size: 36px;
}
[data-dpr="3"] 
body{
    font-size: 54px;
}

img {
    border: none;
}

a img {
    outline: none !important;
    border: none !important;
}
.main-content-container {
    overflow-x: hidden;
}

.swiper-container img{
    width: 100%;
    height: auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;        
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/* 自定义类 */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.main-nav{
    display: table;
    height: 2.06875rem;/* 190px */
    width: 100%;
    text-align: center;
    background-color: #fff;
    margin-bottom: .2094rem;/* 23px */
    border-bottom: 1px solid #ccc;
}
.nav-lis{
    display: table-cell;
    border-right:1px solid #ccc;
    vertical-align: middle; 
}
.nav-lis a {
    display: block;
    text-decoration: none;
    color: #000;
}
.title{
    padding-top: 3px;
    font-size: 14px;
}
[data-dpr="2"]
.title{
    font-size: 28px;
}
[data-dpr="3"]
.title{
    font-size: 42px;
}
.nav-lis img{
    width: 1.1062rem;
    height: auto;
}
.nav-lis-last{
    border-right: none;/* 观看直播 去掉右边框*/
}
.main-content{
    width: 100%;
    min-height: 4.6563rem;/* 298px */
    overflow: visible;
    font-size: 12px;
    background-color: #fff;
    border-top: 1px solid #ccc;
}
[data-dpr="2"]
.main-content{
    font-size: 24px;
}
[data-dpr="3"]
.main-content{
    font-size: 36px;
}
.m-content-top{
    height: 1.171875rem;/* 75px */
    line-height: 1.171875rem;
    font-size: 18px;/* 30px */
    border-bottom: 1px solid #ccc;
    padding-left: .3125rem;/* 20px */
}
[data-dpr="2"]
.m-content-top{
    font-size: 36px;
}
[data-dpr="3"]
.m-content-top{
    font-size: 54px;
}
.m-content-list{
    display:table;
    width: 100%;
  
    border-bottom: 1px solid #ccc;
}
.m-c-l-img{
    display: table-cell;
    width: 3.4281rem;/* 277px */
    height: 3.2531rem;
    padding: .2125rem;
    box-sizing: border-box;
    vertical-align: top;
}
.m-c-l-img img{
    height: 2.7219rem;
    width: 3.5656rem;
}
.m-c-l-text{
    display: table-cell;  
    box-sizing: border-box;
}
.course-title b {
    display: inline-block;
    width: 60%;
    font-size: 12px;
}

[data-dpr="2"] .course-title b {
    font-size: 24px;
}

[data-dpr="3"] .course-title b {
    font-size: 36px;
}
.time{
    color: #646464;
    float: right;
    margin-right: .2344rem;
}
.course-name-join{
    display: table-cell;
    color: #646464;
    height: .4rem;
    line-height: .4rem;
    padding-left: .1525rem;
    vertical-align: middle;
}
.course-name, .course-addr{
    display: table;
    width: auto;
    height: .5687rem;
    line-height: .5687rem;
    vertical-align: middle;
    margin-bottom: .2343rem;
}
.course-name img, .course-addr img{
    display: table-cell;
    height: .4688rem;
    width: auto;
}
.course-join{
    float: right;
    display: table;
    margin-bottom: .0125rem;
    margin-right: .2344rem;
}
.course-join img{
    width: .6rem;
    height: auto; 
}
.join{
    color: #33A87E;
}
.footer-nav{
    display: table;
    position: fixed;
    bottom: 0;
    z-index: 999;
    height: 1.5625rem;/* 100px */
    width: 100%;
    text-align: center;
    background-color: #fff;
    border-top: 1px solid #ccc;
}
.footer-nav a {
    display: block;
}
.footer-nav div{
    border: none;
}
.footer-nav img{
    height: .6562rem;/* 42px */
    width: auto;
}

.list-item {
    width: 100%;
    min-height: 100px;
    position: relative;
    background-image: url(../img/live001.jpg);
    background-position: top left;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: 0.2813rem;
    box-shadow: 0px 3px 7px 3px rgba(0, 0, 0, 0.2);
}

.video-link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.list-caption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0.1563rem 0.2343rem;
}

.list-caption img {
    display: block;
}

.logo-container,
.details-container,
.nice-container {
    
}

.logo-container {
    width: 1rem;
    height: 1rem;
    float: left;
    background-image: url(../img/logo.png);
    background-position: top left;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.details-container {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}

.details-header {
    font-size: 14px;
}

[data-dpr="2"] .details-header {
    font-size: 28px;
}

[data-dpr="3"] .details-header {
    font-size: 42px;
}

.details-plot {
    margin-top: 0.1562rem;
    overflow: hidden;
}

.details-plot .read,
.details-plot .praise,
.details-plot .published {
    float: left;
}

.details-plot .praise,
.details-plot .published {
    margin-left: 0.5rem;
}

.read-icon,
.praise-icon,
.published-icon {
    display: inline-block;
    width: 0.3125rem;
    height: 0.3125rem;
    background-position: top left;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.read-num,
.praise-num,
.published-date {
    display: inline-block;
    margin-left: 0.1rem;
    font-size: 12px;
    font-weight: 400;
    color: #333;
}

[data-dpr="2"] .read-num,
[data-dpr="2"] .praise-num, 
[data-dpr="2"] .published-date {
    font-size: 24px;
}

[data-dpr="3"] .read-num,
[data-dpr="3"] .praise-num, 
[data-dpr="3"] .published-date {
    font-size: 36px;
}

.read-icon {
    background-image: url(../img/plot01.png);
}

.praise-icon {
    background-image: url(../img/plot02.png);
}

.published-icon {
    background-image: url(../img/plot03.png);
}

.nice-container {
    float: right;
    
}

.nice-container a {
    padding-top: 0.2125rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    padding-bottom: 0.2rem;
    display: block;
    outline: none;
}

.nice-container .image-container {
    width: 0.6093rem;
    height: 0.7031rem;
    background-image: url(../img/nice01.png);
    background-position: top left;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.nice-container .image-container.praised {
    background-image: url(../img/nice02.png);
}
.hidden-image {
    display: none;
    background-image: url(../img/nice02.png);
}

.loading {
    width: 100%;
    text-align: center;
}

.loading .image-wrapper {
    display: inline-block;
    height: 0.5rem;
    width: 0.5rem;
}

.loading img {
    width: 100%;
    height: auto;
    display: block;
}


/*** 会员福利 ***/   
.j-main{
    height: auto;
    font-size: 16px;
    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    padding: .8031rem;/* 45px */
}

[data-dpr="2"] .j-main {
    font-size: 32px;
}
[data-dpr="3"] .j-main {
    font-size: 48px;
}
.j-button{
    height: 1.25rem; 
    max-width: 10.094rem;
}
.j-button img{
    width: 100%;
    height: auto;   
}

/* ipad屏幕大小及以上设备 */
@media (min-width: 768px){
    .j-main{
        font-size: 18px;
    }
}
/*** 会员福利 ***/

.replay_head {
    display: table;
    height: 1.21875rem;/* 78px */
    width: 100%;
    text-align: center;
    background-color: #fff;
    font-size: 16px;
}
[data-dpr="2"] .replay_head {
    font-size: 32px;
}
[data-dpr="3"] .replay_head {
    font-size: 48px;
}

.replay_head a {
  text-decoration: none;
}
.replay_video_img{
    background-image:url(../img/video.png);
}
.replay_voice_img{
    background-image:url(../img/voice.png);
}
.replay_video_img2{
    background-image:url(../img/video1.png);
}
.replay_voice_img2{
    background-image:url(../img/voice1.png);
}

.replay_voice_img {
    display: inline-block;
    width: 0.3125rem;
    height: 0.4125rem;
    background-position: top left;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    vertical-align:middle;
}
.replay_video_img{
    display: inline-block;
    width: 0.3555rem;
    height: 0.4125rem;
    background-position: top left;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    vertical-align:middle;
}
.replay_video,
.replay_voice {
    display: inline-block;
    color: #333;
    vertical-align:middle;
    margin-right:2px;
}
#voice-container {
    display:none;
}

.backToTop{
    display: none;
    position:absolute;
    z-index:99;
    bottom:1.750rem;
    right:0.23rem;
    position:fixed;
    
}
.backToTop img{
    width:0.9375rem;
    height:0.9375rem;
    opacity:0.3;
}

.signup-content-container {
    position: relative;
    margin: 1.8rem 0.7812rem;
}

.signup-title {
    position: absolute;
    right: 0;
    top: -0.2rem;
    width: 1.75rem;
    border: 1px solid #e70012;
    color: #e70012;
    padding: 3px 5px;
    text-align: center;
    font-size: 14px;
    border-radius: 3px;
}

[data-dpr="2"] .signup-title {
    font-size: 28px;
    padding: 6px 10px;
    border-radius: 5px;
}

[data-dpr="3"] .signup-title {
    font-size: 42px;
    padding: 9px 15px;
    border-radius: 7px;
}

.signup-header {
    font-size: 26px;
    margin-bottom: 1.3rem;
}

.signup-header .signup-logo {
    width: 2.34rem;
    height: 2.34rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    background-image: url(../img/logo2.png);
    background-position: top left;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.signup-header span {
    display: block;
    margin-bottom: 0.46rem;
    text-align: center;
    color: #e70012;
}

[data-dpr="2"] .signup-header {
    font-size: 46px;
}

[data-dpr="3"] .signup-header {
    font-size: 78px;
}

.phone-num,
.verify-code {
    overflow: hidden;
    border-bottom: 1px solid #909090;
}

.signupform-wrapper input {
    background: transparent;
    outline: none;
    border: none;
    font-size: 16px;
}

[data-dpr="2"] .signupform-wrapper input {
    font-size: 28px;
}

[data-dpr="3"] .signupform-wrapper input {
    font-size: 48px;
}

input, textarea, button {
    font-family: inherit;
}

.signupform-wrapper button {
    border: none;
    outline: none;
}

.phone-num,
.verify-code {
    padding-bottom: 0.3rem;
    margin-bottom: 0.4rem;
}

.phone-num div {
    height: 1rem;
}

.phone-input {
    float: left;
    width: 100%;
}

.phone-input .input-inner-wrapper {
    margin-left: 1.3rem;
    margin-right: 3.1rem;
}

.phone-icon {
    float: left;
    width: 1.3rem;
    margin-left: -100%;
}

.verify-phone {
    float: left;
    width: 3.1rem;
    margin-left: -3.1rem;
}

.verify-btn {
    width: 3.1rem;
    height: 1rem;
    border-radius: 5px;
    background-color: #e70012;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
}

.verify-btn.verify-disabled {
    background-color: #cccccc;
    color: #999;
}

[data-dpr="2"] .verify-btn {
    font-size: 24px;
}

[data-dpr="3"] .verify-btn {
    font-size: 48px;
}

.phone-num input {
    display: block;
    height: 0.9rem;
    line-height: 0.9rem;
    margin-top: 0.1rem;
}

.phone-icon label {
    display: block;
    padding-top: 0.19rem;
}

.phone-icon span{
    display: block;
    width: 0.5rem;
    height: 0.65rem;
    margin-left: 0.3rem;
    background-image: url(../img/mobile.png);
    background-position: top left;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.verify-input,
.verify-icon {
    height: 1rem;
}

.verify-input {
    float: left;
    width: 100%;
}

.verify-inner-wrapper {
    margin-left: 1.3rem;
}

.verify-icon {
    float: left;
    width: 1.3rem;
    margin-left: -100%;
}

.verify-icon label {
    display: block;
    padding-top: 0.19rem;
}

.verify-icon span {
    display: block;
    width: 0.54rem;
    height: 0.65rem;
    margin-left: 0.3rem;
    background-image: url(../img/verify.png);
    background-position: top left;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.verify-code input {
    display: block;
    height: 0.9rem;
    line-height: 0.9rem;
    margin-top: 0.1rem;
}

.submit-signup {
    display: block;
    width: 100%;
    height: 1.25rem;
    line-height: 1.25rem;
    text-align: center;
    border-radius: 5px;
    background-color: #e70012;
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
}

.submit-signup.disabled {
    background-color: #cccccc;
}

[data-dpr="2"] .submit-signup {
    font-size: 36px;
}

[data-dpr="3"] .submit-signup {
    font-size: 54px;
}

.submit-icon {
    display: inline-block;
    vertical-align: middle;
    width: 0.6rem;
    height: 0.6rem;
    margin-right: 0.47rem;
    background-image: url(../img/submit.png);
    background-position: top left;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.submit-text {
    display: inline-block;
    margin-top: -2px;
    vertical-align: middle;
}


.mask {
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.error-info {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -3.125rem;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    background-color: #fff;
    color: #797979;
    font-size: 16px;
    width: 6.25rem;
    padding: 0.5rem 0.7rem;
}

.error-info span {
    display: block;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 0.2rem;
}

.error-info span:last-child {
    margin-bottom: 0;
}